.App {
  text-align: center;
}

.Icon{
      font-family: Bradley Hand, cursive;
      font-size: 18pt;
      text-decoration-color: #bc7;
      color: black;
      padding:10px;
      
}

.ButtonToolbar{
  margin: 10px;
  font-family: Bradley Hand, cursive;
  padding:10px
}

.SignUpBtn{
  align-items: center;
  background-color: green;
  font-family: Bradley Hand, cursive;
  margin: auto;
  width:300px;
  color:white;
  /* margin-right: 500px; */
  /* align-self: center;
  margin-right: 400px; */
}
