.App {
  text-align: center;
}

.NavIcon{
  font-family: Bradley Hand, cursive;
   font-size: 30pt;
}

.Icon{
      font-family: Bradley Hand, cursive;
      font-size: 18pt;
      text-decoration-color: #bc7;
      color: black;
      padding:10px;
      
}

.Icon:hover{text-decoration: none;color: white;}

.ButtonToolbar{
  margin: 10px;
  font-family: Bradley Hand, cursive;
  padding:10px
}

.SignUpBtn{
  align-items: center;
  background-color: #cd9093;
  font-family: Bradley Hand, cursive;
  margin: auto;
  width:300px;
  color:white;
  border: 1px solid black;
 
}

.Popover{
  text-align: center;
  background-color: yellow;
}
