h1{
    text-align: "center";
            margin-top: "2%";
            font-Family: "Bradley Hand, cursive";
            font-Size: "30pt" 
}

.Testing{
    text-align: center;
    margin-top: 2%;
    font-family: 'Cairo', sans-serif;
    font-size: 30pt;
    text-transform: capitalize
}

.PantryBox{
    font-family: 'Cairo', sans-serif;
    /* opacity: 0.85; */
    text-align: center;
    margin: 19px 15px;
    width: 20%;
    float: left;
    background-color: rgba(107, 170, 117, 0.788);
    border-radius: 8px;
    box-shadow: 0 2px 3px #5c5959;
    border: 1px solid #eee;
    height: 400px;
    overflow: scroll;
}

.PantryInput{
    width: 70%;
    opacity: 1;
    font-size: 16pt;
    border-radius: 5%;
    margin :4%
};

/* .AddPantryBtn{
    position: relative;
    background-color: #cd9093;
    color: yellow;
    font-family: 'Cairo', sans-serif;
    
    margin: 100%;
    border-radius: 6%
} */

.UnorderedList{
    /* list-style-type: none; */
    margin: 5px auto;
    padding: 0;
    
}
.PantryList{
    margin: 2px;
    padding:3px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(59, 57, 57);
    color: white;
    text-transform: capitalize
    

}


.RecipeDiv{
    position: relative;
    width: 70%;
    height: 400px;
    background-color: rgba(107, 170, 117, 0.781);
    margin: 15px ;
    border-radius: 10px;
    text-align: center;
    overflow: scroll;
    box-shadow: 0 2px 3px #5c5959;
    border: 1px solid #eee;
    float: left;
           
}

.CardAlt{
    font-size: 30px;
    font-weight: 600;
    margin: 100px auto;
    font-family: 'Bungee Shade', cursive;
}


.SavedJumbo{
    clear: both;
    background-color: rgba(107, 170, 117, 0.778);
            width: 70%;
            /* display: inline-block; */
            font-family: 'Cairo', sans-serif;
            padding: 15px ;
            margin: 20px auto;
            display: flexbox;
            justify-content: center;
            align-items: center;
            /* margin-left: 100px; */
            border-radius: 10px;
            box-shadow: 0 2px 3px #5c5959;
            border: 1px solid #eee;
            
}

.Favorite{
    padding: 12px;
    margin:15px 50px;display:inline-block;
    background-color:white;
    border:1px solid black;
    position: relative;
}

.FavDelBtn{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    
}


.FavRecipeImg{
    text-align: center;
    border-radius: 10%;
    float: left;
    margin: 5px;

}

.FavRecipeTitle{
    
    text-align: center; 
    margin: 3px 5px
}

.FavRecipeP{
    
    text-align: center; 
    margin: 3px 5px
}
